[submodule "dmenu/dmenu"]
	path = dmenu/dmenu
	url = git://git.suckless.org/dmenu
[submodule "scroll/scroll"]
	path = scroll/scroll
	url = git://git.suckless.org/scroll
[submodule "dwm/dwm"]
	path = dwm/dwm
	url = git://git.suckless.org/dwm
[submodule "tabbed/tabbed"]
	path = tabbed/tabbed
	url = git://git.suckless.org/tabbed
[submodule "surf/surf"]
	path = surf/surf
	url = git://git.suckless.org/surf
[submodule "st/st"]
	path = st/st
	url = git://git.suckless.org/st
[submodule "slstatus/slstatus"]
	path = slstatus/slstatus
	url = git://git.suckless.org/slstatus
[submodule "slock/slock"]
	path = slock/slock
	url = git://git.suckless.org/slock
[submodule "dmenu"]
	path = dmenu
	url = /home/mominh/my_software/my_suckless/dmenu0/dmenu
[submodule "dwm"]
	path = dwm
	url = /home/mominh/my_software/my_suckless/dwm0/dwm
[submodule "scroll"]
	path = scroll
	url = /home/mominh/my_software/my_suckless/scroll0/scroll
[submodule "slock"]
	path = slock
	url = /home/mominh/my_software/my_suckless/slock0/slock
[submodule "slstatus"]
	path = slstatus
	url = /home/mominh/my_software/my_suckless/slstatus0/slstatus
[submodule "st"]
	path = st
	url = /home/mominh/my_software/my_suckless/st0/st
[submodule "surf"]
	path = surf
	url = /home/mominh/my_software/my_suckless/surf0/surf
[submodule "tabbed"]
	path = tabbed
	url = /home/mominh/my_software/my_suckless/tabbed0/tabbed
